<div class="split-credit">
  <p>{{ .Site.Copyright | safeHTML }} - <a href="https://onepagelove.com/split" title="Split Template">Split Template</a> by <a href="https://onepagelove.com" title="One Page Love">One Page Love</a></p>

  {{ "<!--" | safeHTML }}
  {{ "To edit this credit you can remove the CC3.0 license for only $5 here: https://onepagelove.com/split" | safeHTML }}
  {{ "this really helps contribute towards us developing more templates and means the world to me!" | safeHTML }}
  {{ "Cheers, Rob (@robhope)" | safeHTML }}
  {{ "-->" | safeHTML }}
</div>
