<!DOCTYPE html>
<html lang="en-US">

<head>
  {{ partial "head" . }}
</head>

<body id="fullsingle" class="page-template-page-fullsingle-split">

  <div class="fs-split">

    <!-- Image Side -->
    <div class="split-image">

    </div>

    <!-- Content Side -->
    <div class="split-content">
      <div class="split-content-vertically-center">

        <!-- Intro -->
        {{ partial "intro" . }}

        <!-- Bio -->
        {{ partial "bio" . }}

        <!-- Links -->
        {{ partial "links" . }}

        <!-- Footer -->
        {{ partial "footer" . }}

      </div>
    </div>

  </div>

</body>
</html>
